
# Ignore all uv / Python virtual environments
.venv/
venv/
*/.venv/
*/venv/
**/.venv/
**/venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env
.claude/

outputs/

/root/EMS-Project/stimulus_features/